@model IEnumerable<Film>
@{
  ViewData["active"] = 0;
}
<script>
  $(function() {
    $('#search-form').submit(function(e) {
      e.preventDefault();

      var search_string = $('#input-filter').val();
      var filter_opt = $('#filter-opts').val();
      var sort_opt = $('#sort-opt').val();
      $('#partial-dest').load('/Home/PartialGet?searchString=' + search_string
                              + '&criterion=' + filter_opt
                              + '&sortOption=' + sort_opt);
    });
    $('#sort-opt').change(function() {
      $('#search-form').submit();
    });
  });
  $(document).ready(function() {
    $('#search-form').submit();
  })
</script>
<div class="container-fluid bgr-color">
  <div class="container search-film">
    <h1 style="padding-bottom:30px">Список фильмов</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <form id="search-form" class="input-group" id="adv-search">
            <input id="input-filter" type="text" class="form-control" placeholder="Введите фильм или ключевые слова..." />
            <div class="input-group-btn">
              <div class="btn-group" role="group">
                <select id="filter-opts" required class="form-control">
                  <option value="0">По названию</option>
                  <option value="1">По режиссёру</option>
                  <option value="2">По актёру</option>
                  <option value="3">По году</option>
                  <option value="4">По жанру</option>
                </select>
                <button id="start-search" type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="false">Найти</span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container film-con">
  <div class="container" style="padding-bottom:10px;">
    <p style="margin-bottom:5px;">Сортировать: 
      <div class="tab-pane active" style="text-align:right;" id="sort">
        <form>
          <div class="controls controls-row">
            <select id="sort-opt" class="form-control col-3">
              <option value="0">По названию</option>
              <option value="1">По дате выхода</option>
            </select>
          </div>
        </form>
      </div>
    </p>
  </div>
  <div id="partial-dest">
  </div>
</div>
